/* Incredibox popup by Diamond
    Theme for sweatalerts */

    .swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
      background-color: rgba(0,0,0,.5);
    }
    .swal2-container {
      transition: background-color 0.2s;
      
    }
    .swal2-popup {
        border-radius: 10px;
        transition: all .3s cubic-bezier(.175,.885,.32,1.275);
    }
    .swal2-show {
-webkit-animation: swal2-show .3s cubic-bezier(.175,.885,.32,1.275);
        animation: swal2-show .3s cubic-bezier(.175,.885,.32,1.275) ;
        transform: scale(1);

        transition: all .3s cubic-bezier(.175,.885,.32,1.275);
    }
    .swal2-hide {
-webkit-animation: swal2-hide .4s cubic-bezier(.175,.885,.32,1.275);
        animation: swal2-hide .4s cubic-bezier(.175,.885,.32,1.275); 
        transition: all .4s cubic-bezier(.175,.885,.32,1.275);
    }
    .swal2-popup.swal2-toast.swal2-hide{
      -webkit-animation: swal2-hide .4s cubic-bezier(.175,.885,.32,1.275);
        animation: swal2-hide .4s cubic-bezier(.175,.885,.32,1.275); 
        transition: all .4s cubic-bezier(.175,.885,.32,1.275);
    }
    @keyframes swal2-show {
0% {
transform: scale(0.8);
opacity: 0;
}

100% {
opacity: 1;
transform: scale(1);
}
}
@-webkit-keyframes swal2-hide {

0% {
transform: scale(1);
opacity: 1;
}
50% {
transform: scale(1.05);
opacity: 1;
}
100% {
transform: scale(0.8);
opacity: 0;
}
}

@keyframes swal2-hide {
0% {
transform: scale(1);
opacity: 1;
}
50% {
transform: scale(1.05);
opacity: 1;
}
100% {
transform: scale(0.8);
opacity: 0;
}
}
    
    .swal2-close {
z-index: 2 !important;
align-items: center !important;
justify-content: center !important;
margin-bottom: -1.2em !important;
padding: 0 !important;
overflow: hidden !important;
transition: color .1s,box-shadow .1s !important;
border: none !important;
border-radius: 5px !important;
color: transparent !important;
font-family: serif !important;
font-family: monospace !important;
font-size: 2.5em !important;
cursor: pointer !important;
justify-self: end !important;
margin-top: -22px !important;
margin-right: -22px !important;
width: 40px !important;
height: 40px !important;
border-radius: 50% !important;

background-image: url(https://thediamondstudio.github.io/cross.svg) !important;
background-repeat: no-repeat !important;
background-color: #000 !important;
cursor: pointer !important;
transition: transform .3s ease-out !important;
}
.swal2-close:hover {
transform: none !important;
background: url(https://thediamondstudio.github.io/cross.svg) !important;
background-repeat: no-repeat !important;
color: transparent !important;
background-color: #000 !important;
transform: scale(1.1) !important;
transition-duration: .1s !important;
}
.swal2-close:focus {
outline: none !important;
box-shadow: inset 0 0 0 0 !important; 
}
@media only screen and (max-width: 440px) {
.swal2-close {
margin-top: -22px !important;
margin-right: 0px !important;
}
}