/* Incredibox popup by Diamond
    Theme for sweatalerts */

    .swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
      background-color: rgba(0,0,0,.5);
    }
    .swal2-container {
      transition: background-color 0.2s;
      
    }
    .swal2-popup {
        border-radius: 10px;
        transition: all .3s cubic-bezier(.175,.885,.32,1.275);
    }
    .swal2-show {
-webkit-animation: swal2-show .3s cubic-bezier(.175,.885,.32,1.275);
        animation: swal2-show .3s cubic-bezier(.175,.885,.32,1.275) ;
        transform: scale(1);

        transition: all .3s cubic-bezier(.175,.885,.32,1.275);
    }
    .swal2-hide {
-webkit-animation: swal2-hide .4s cubic-bezier(.175,.885,.32,1.275);
        animation: swal2-hide .4s cubic-bezier(.175,.885,.32,1.275); 
        transition: all .4s cubic-bezier(.175,.885,.32,1.275);
    }
    .swal2-popup.swal2-toast.swal2-hide{
      -webkit-animation: swal2-hide .4s cubic-bezier(.175,.885,.32,1.275);
        animation: swal2-hide .4s cubic-bezier(.175,.885,.32,1.275); 
        transition: all .4s cubic-bezier(.175,.885,.32,1.275);
    }
    @keyframes swal2-show {
0% {
transform: scale(0.8);
opacity: 0;
}

100% {
opacity: 1;
transform: scale(1);
}
}
@-webkit-keyframes swal2-hide {

0% {
transform: scale(1);
opacity: 1;
}
50% {
transform: scale(1.05);
opacity: 1;
}
100% {
transform: scale(0.8);
opacity: 0;
}
}

@keyframes swal2-hide {
0% {
transform: scale(1);
opacity: 1;
}
50% {
transform: scale(1.05);
opacity: 1;
}
100% {
transform: scale(0.8);
opacity: 0;
}
}
    
    .swal2-close {
z-index: 2;
align-items: center;
justify-content: center;
margin-bottom: -1.2em;
padding: 0;
overflow: hidden;
transition: color .1s,box-shadow .1s;
border: none;
border-radius: 5px;
color: transparent !important;
font-family: serif;
font-family: monospace;
font-size: 2.5em;
cursor: pointer;
justify-self: end;
margin-top: -22px;
margin-right: -22px;
width: 40px;
height: 40px;
border-radius: 50%;

background-image: url(https://thediamondstudio.github.io/cross.svg);
background-repeat: no-repeat;
background-color: #000;
cursor: pointer;
transition: transform .3s ease-out;
}
.swal2-close:hover {
transform: none;
background: url(https://thediamondstudio.github.io/cross.svg);
background-repeat: no-repeat;
color: transparent;
background-color: #000;
transform: scale(1.1);
transition-duration: .1s;
}
.swal2-close:focus {
outline: none;
box-shadow: inset 0 0 0 0;
}
@media only screen and (max-width: 440px) {
.swal2-close {
margin-top: -22px;
margin-right: 0px;
}
}
